.unread {
    font-weight: bold;
}

.mail {
    border: solid 1px black;
    margin: 1rem 0;
    color: rgb(32, 33, 36);
}

.mail:hover {
    background-color: #f5f5f5;
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 2;
    position: relative;
    cursor: pointer;
}