h1 {
    text-align: center;
}

.mail-inbox {
    display: grid;
    grid-template-columns: 5rem 95rem;
    height: calc(100vh - 80px);
    color: #3c4043;
    margin-top: 20px;
}

.mail-main-content {
    background-color: rgb(255 255 255);
    border-radius: 10px;
}

.mail-preview {
    display: grid;
    grid-template-columns: 250px 250px;
    align-items: center;
    gap: 15px;
    /* padding: 15px; */
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    font-weight: bold;
    /* margin: 25px; */

}

.mail-preview .from {
    margin: 0;
}

.mail-preview .subject {
    margin-left: 80px;
}

.mail-preview:hover {
    background-color: #f5f5f5;
}

input {
        margin: 1rem 1rem 0 1rem;
}

.side-bar {
    display: grid;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    background-color: #e9eef6;
    width: 5.5rem;
}

.side-bar span {
    padding-top: 2rem
}

.mail-filter-container {
    margin-bottom: 2.5rem;
}