body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
    background-color: var(--clr2bg);
    margin: 0.5em;
    border: 1px solid var(--clr2);
    padding: 0.5em 0.8em;
    border-radius: 4px;
}

button:hover {
    background-color: var(--clr2);
    color: white;
    transition: 0.3s;
}

input:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
}
