@media (max-width: 600px) {
    h1 {
        font-size: 1.2em;
        margin: 1em 0.2em;
    }

    .mail-inbox {
        grid-template-columns: 1fr;
    }

    .mail-list {
        padding: 0 0.2em;
    }

    .mail-preview {
        flex-direction: column;
        align-items: flex-start;
        /* padding: 10px 4px; */
        font-size: 0.95em;
    }

    .app-header {
        background-color: red;
    }

    .side-bar {
        display: none;
    }

    .subject {
        margin-left: 0px;
    }
}